<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  [(ngModel)]="user.username"
                  name="id"
                  class="form-control w-75"
                  id="username"
                  disabled
                />
              </div>
  
              
  
              <div class="form-group">
                <label for="roleSelect">Select Role to Add</label>
                <select [(ngModel)]="newRole" name="roleSelect" class="form-control w-75">
                  <option value="none" selected disabled>Select an Option</option>
                  <option *ngFor="let role of roles" [ngValue]="role">
                    {{ role.role }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="currentRole">Current Roles</label>
                <div class="flex flex-row" *ngFor="let role of user.roles" (click)="removeRoleFromUser(role.role_id)">
                  <span class="" *ngIf="role.role === 'ADMIN'">
                    *{{ role.role }}*
                  </span>
                  <span class="" *ngIf="role.role === 'USER'">
                    *{{ role.role }}*
                  </span>
                
                </div>
              </div>
              <div class="form-group-center">
              <button class="btn btn-info" (click)="addRoleToUser()">Add Role</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  